<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Working With Time Series Data

---

### Learning Objectives
 
**After this lesson, you will be able to:**
- Identify time series data.
- Explain the challenges of working with time series data.
- Use the `datetime` library to represent dates as objects.
- Preprocess time series data with Pandas.

---

<h2><a id="A">What is a Time Series?</a></h2>

A **time series** is a series of data points that's indexed (or listed, or graphed) in time order. Most commonly, a time series is a sequence that's taken at successive equally spaced points in time. Time series are often represented as a set of observations that have a time-bound relation, which is represented as an index.

Time series are commonly found in sales, analysis, stock market trends, economic phenomena, and social science problems.

These data sets are often investigated to evaluate the long-term trends, forecast the future, or perform some other form of analysis.

### Let's take a look at some Apple stock data to get a feel for what time series data look like.

In [1]:
import pandas as pd
from datetime import timedelta
%matplotlib inline

aapl = pd.read_csv("data/aapl.csv")

Take a high-level look at the data. What are we looking at?

In [2]:
aapl.head()

        Date    Open    High     Low   Close    Volume
0  13-Jan-17  119.11  119.62  118.81  119.04  26111948
1  12-Jan-17  118.90  119.30  118.21  119.25  27086220
2  11-Jan-17  118.74  119.93  118.60  119.75  27588593
3  10-Jan-17  118.77  119.38  118.30  119.11  24462051
4   9-Jan-17  117.95  119.43  117.94  118.99  33561948

In [3]:
aapl.describe()

             Open        High         Low       Close        Volume
count  251.000000  251.000000  251.000000  251.000000  2.510000e+02
mean   105.155100  106.060518  104.392550  105.292191  3.674495e+07
std      7.905047    7.876708    7.995679    7.963102  1.609059e+07
min     90.000000   91.670000   89.470000   90.340000  1.147592e+07
25%     97.355000   98.220000   96.690000   97.340000  2.665144e+07
50%    106.270000  107.270000  105.500000  106.100000  3.229234e+07
75%    111.450000  112.370000  110.700000  111.750000  4.137394e+07
max    119.110000  119.930000  118.810000  119.750000  1.322245e+08

<h2><a id="B">The DateTime library</a></h2>

As time is important to time series data, we will need to interpret these data in the ways that humans interpret them (which is many ways). 

Python's `DateTime` library is great for dealing with time-related data, and Pandas has incorporated this library into its own `datetime` series and objects.

In this lesson, we'll review these data types and learn a little more about each of them:

* `datetime` objects.
* `datetime` series.
* Timestamps.
* `timedelta()`.

### `datetime` Objects

Below, we'll load in the `DateTime` library, which we can use to create a `datetime` object by entering in the different components of the date as arguments.

In [4]:
# The datetime library is something you should already have from Anaconda.
from datetime import datetime

In [5]:
# Let's just set a random datetime â€” not the end of the world or anything.
lesson_date = datetime(2012, 12, 21, 12, 21, 12, 844089)

The components of the date are accessible via the object's attributes.

In [6]:
print("Micro-Second", lesson_date.microsecond)
print("Second", lesson_date.second)
print("Minute", lesson_date.minute)
print("Hour", lesson_date.hour)
print("Day", lesson_date.day)
print("Month",lesson_date.month)
print("Year", lesson_date.year)

Micro-Second 844089
Second 12
Minute 21
Hour 12
Day 21
Month 12
Year 2012

### `timedelta()`

Suppose we want to add time to or subtract time from a date. Maybe we're using time as an index and want to get everything that happened a week before a specific observation.

We can use a `timedelta` object to shift a `datetime` object. Here's an example:

In [7]:
# Import timedelta() from the DateTime library.
from datetime import timedelta

# Timedeltas represent time as an amount rather than as a fixed position.
offset = timedelta(days=1, seconds=20)

# The timedelta() has attributes that allow us to extract values from it.
print('offset days', offset.days)
print('offset seconds', offset.seconds)
print('offset microseconds', offset.microseconds)

offset days 1
offset seconds 20
offset microseconds 0

`datetime`'s `.now()` function will give you the `datetime` object of this very moment.

In [8]:
now = datetime.now()
print("Like Right Now: ", now)

Like Right Now:  2018-08-08 20:12:36.432982

The current time is particularly useful when using `timedelta()`.

In [9]:
print("Future: ", now + offset)
print("Past: ", now - offset)

Future:  2018-08-09 20:12:56.432982
Past:  2018-08-07 20:12:16.432982

*Note: The largest value a `timedelta()` can hold is days. For instance, you can't say you want your offset to be two years, 44 days, and 12 hours; you have to convert those years to days.*

You can read more about the `timedelta()` category [here](https://docs.python.org/2/library/datetime.html).

### Guided Practice: Apple Stock Data

We can practice using `datetime` functions and objects using Apple stock data.

In [10]:
aapl.head()

        Date    Open    High     Low   Close    Volume
0  13-Jan-17  119.11  119.62  118.81  119.04  26111948
1  12-Jan-17  118.90  119.30  118.21  119.25  27086220
2  11-Jan-17  118.74  119.93  118.60  119.75  27588593
3  10-Jan-17  118.77  119.38  118.30  119.11  24462051
4   9-Jan-17  117.95  119.43  117.94  118.99  33561948

The `Date` column starts off as an object.

In [11]:
aapl.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

<h2><a id="C">Preprocessing Time Series Data with Pandas</a><h2>

### Convert time data to a `datetime` object.

Overwrite the original `Date` column with one that's been converted to a `datetime` series.

In [12]:
aapl['Date'] = pd.to_datetime(aapl.Date)

We can see these changes reflected in the `Date` column structure.

In [13]:
aapl.head()

        Date    Open    High     Low   Close    Volume
0 2017-01-13  119.11  119.62  118.81  119.04  26111948
1 2017-01-12  118.90  119.30  118.21  119.25  27086220
2 2017-01-11  118.74  119.93  118.60  119.75  27588593
3 2017-01-10  118.77  119.38  118.30  119.11  24462051
4 2017-01-09  117.95  119.43  117.94  118.99  33561948

We can also see that the `Date` object has changed.

In [14]:
aapl.dtypes

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
dtype: object

### The `.dt` Attribute

Pandas' `datetime` columns have a `.dt` attribute that allows you to access attributes that are specific to dates. For example:

    aapl.Date.dt.day
    aapl.Date.dt.month
    aapl.Date.dt.year
    aapl.Date.dt.weekday_name

And, there are many more!

In [15]:
aapl.Date.dt.weekday_name.head()

0       Friday
1     Thursday
2    Wednesday
3      Tuesday
4       Monday
Name: Date, dtype: object

In [16]:
aapl.Date.dt.dayofyear.head()

0    13
1    12
2    11
3    10
4     9
Name: Date, dtype: int64

Check out the Pandas `.dt` [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.dt.html) for more information.

### Timestamps

Timestamps are useful objects for comparisons. You can create a timestamp object using the `pd.to_datetime()` function and a string specifying the date. These objects are especially helpful when you need to perform logical filtering with dates.

In [17]:
ts = pd.to_datetime('1/1/2017')
ts

Timestamp('2017-01-01 00:00:00')

The main difference between a `datetime` object and a timestamp is that timestamps can be used as comparisons.

Let's use the timestamp `ts` as a comparison with our Apple stock data.

In [18]:
aapl.loc[aapl.Date >= ts, :].head()

        Date    Open    High     Low   Close    Volume
0 2017-01-13  119.11  119.62  118.81  119.04  26111948
1 2017-01-12  118.90  119.30  118.21  119.25  27086220
2 2017-01-11  118.74  119.93  118.60  119.75  27588593
3 2017-01-10  118.77  119.38  118.30  119.11  24462051
4 2017-01-09  117.95  119.43  117.94  118.99  33561948

We can even get the first and last dates from a time series.

In [19]:
aapl.Date.max() - aapl.Date.min()

Timedelta('360 days 00:00:00')

> **Check for Understanding:** Why do we convert the DataFrame column containing the time information into a `datetime` object?

### Set `datetime` to Index the DataFrame

After converting the column containing time data from object to `datetime`, it is also useful to make the index of the DataFrame a `datetime`.

In [20]:
aapl.head()

        Date    Open    High     Low   Close    Volume
0 2017-01-13  119.11  119.62  118.81  119.04  26111948
1 2017-01-12  118.90  119.30  118.21  119.25  27086220
2 2017-01-11  118.74  119.93  118.60  119.75  27588593
3 2017-01-10  118.77  119.38  118.30  119.11  24462051
4 2017-01-09  117.95  119.43  117.94  118.99  33561948

Let's set the `Date` column as the index.

In [21]:
aapl.set_index('Date', inplace=True)

In [22]:
aapl.head()

              Open    High     Low   Close    Volume
Date
2017-01-13  119.11  119.62  118.81  119.04  26111948
2017-01-12  118.90  119.30  118.21  119.25  27086220
2017-01-11  118.74  119.93  118.60  119.75  27588593
2017-01-10  118.77  119.38  118.30  119.11  24462051
2017-01-09  117.95  119.43  117.94  118.99  33561948

### Filtering by Date with Pandas

It is easy to filter by date using Pandas. Let's create a subset of data containing only the stock prices from 2017. We can specify the index as a string constant.

In [23]:
aapl['2017']

              Open    High     Low   Close    Volume
Date
2017-01-13  119.11  119.62  118.81  119.04  26111948
2017-01-12  118.90  119.30  118.21  119.25  27086220
2017-01-11  118.74  119.93  118.60  119.75  27588593
2017-01-10  118.77  119.38  118.30  119.11  24462051
2017-01-09  117.95  119.43  117.94  118.99  33561948
2017-01-06  116.78  118.16  116.47  117.91  31751900
2017-01-05  115.92  116.86  115.81  116.61  22193587
2017-01-04  115.85  116.51  115.75  116.02  21118116
2017-01-03  115.80  116.33  114.76  116.15  28781865

There are a few things to note about indexing with time series. Unlike numeric indexing, the end index will be included. If you want to index with a range, the time indices must be sorted first.

> **Recap:** The steps for preprocessing time series data are to:
* Convert time data to a `datetime` object.
* Set `datetime` to index the DataFrame.

# Recap

* We use time series analysis to identify changes in values over time.
* The `datetime` library makes working with time data more convenient.
* To preprocess time series data with Pandas, you:
    1. Convert the time column to a `datetime` object.
    2. Set the time column as the index of the DataFrame.

<h2><a id="D">Independent Practice</a></h2>

**Instructor Note**: These are optional and can be assigned as student practice questions outside of class.

### 1) Create a `datetime` object representing today's date.

In [44]:
kick = pd.read_csv('data/ks-projects.csv.zip', compression='zip', encoding='Windows-1252')

/Users/karenhao/Documents/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
kick.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
ID                323750 non-null int64
name              323746 non-null object
category          323745 non-null object
main_category     323750 non-null object
currency          323750 non-null object
deadline          323750 non-null object
goal              323750 non-null object
launched          323750 non-null object
pledged           323750 non-null object
state             323750 non-null object
backers           323750 non-null object
country           323750 non-null object
usd pledged       319960 non-null object
Unnamed: 13       625 non-null object
Unnamed: 14       12 non-null object
Unnamed: 15       4 non-null object
Unnamed: 16       1 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB

In [46]:
kick.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [47]:
kick.columns = ['id', 'name', 'category', 'main_category', 'currency', 'deadline', 'goal', 'launched', 'pledged', 'state',
               'backers', 'country', 'usd_pledged', 'unm_1', 'unm_2', 'unm_3', 'unm_4']

In [48]:
kick.launched.head()

0    2015-08-11 12:12:28
1    2013-01-12 00:20:50
2    2012-03-17 03:24:11
3    2015-07-04 08:35:03
4    2016-02-26 13:38:27
Name: launched, dtype: object

In [49]:
kick['launched'] = pd.to_datetime(kick.launched, errors='coerce')

In [50]:
kick.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
id               323750 non-null int64
name             323746 non-null object
category         323745 non-null object
main_category    323750 non-null object
currency         323750 non-null object
deadline         323750 non-null object
goal             323750 non-null object
launched         323169 non-null datetime64[ns]
pledged          323750 non-null object
state            323750 non-null object
backers          323750 non-null object
country          323750 non-null object
usd_pledged      319960 non-null object
unm_1            625 non-null object
unm_2            12 non-null object
unm_3            4 non-null object
unm_4            1 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 42.0+ MB

In [51]:
kick['launch_month'] = kick.launched.dt.month

### PROBLEM

Consider what other ways to use the dates to create new features.  Generate as many as you can think of and examine them in terms of our earlier feature selection methods.  Finally, compare the performance of five different classifiers using the selected features.

In [52]:
kick.launched.head()

0   2015-08-11 12:12:28
1   2013-01-12 00:20:50
2   2012-03-17 03:24:11
3   2015-07-04 08:35:03
4   2016-02-26 13:38:27
Name: launched, dtype: datetime64[ns]

In [53]:
kick.head()

,id,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,unm_1,unm_2,unm_3,unm_4,launch_month
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN,8.0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN,1.0
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN,3.0
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN,7.0
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN,2.0

In [54]:
kick['deadline'] = pd.to_datetime(kick.deadline, errors='coerce')

In [55]:
kick['duration'] = kick.deadline - kick.launched

In [56]:
kick['launch_dayofweek'] = kick.launched.dt.dayofweek

In [57]:
kick['deadline_dayofweek'] = kick.deadline.dt.dayofweek

In [58]:
kick['launched_date'] = kick.launched.dt.date

In [59]:
kick['deadline_date'] = kick.deadline.dt.date

In [60]:
kick[['launched','deadline','duration','launch_month','launch_dayofweek','deadline_dayofweek',
      'launched_date','deadline_date']].head()

,launched,deadline,duration,launch_month,launch_dayofweek,deadline_dayofweek,launched_date,deadline_date
0,2015-08-11 12:12:28,2015-10-09 11:36:00,58 days 23:23:32,8.0,1.0,4.0,2015-08-11,2015-10-09
1,2013-01-12 00:20:50,2013-02-26 00:20:50,45 days 00:00:00,1.0,5.0,1.0,2013-01-12,2013-02-26
2,2012-03-17 03:24:11,2012-04-16 04:24:11,30 days 01:00:00,3.0,5.0,0.0,2012-03-17,2012-04-16
3,2015-07-04 08:35:03,2015-08-29 01:00:00,55 days 16:24:57,7.0,5.0,5.0,2015-07-04,2015-08-29
4,2016-02-26 13:38:27,2016-04-01 13:38:27,35 days 00:00:00,2.0,4.0,4.0,2016-02-26,2016-04-01

In [64]:
kick.dropna(inplace=True)

In [73]:
kick.pledged = pd.to_numeric(kick.pledged,errors='coerce')
kick.backers = pd.to_numeric(kick.backers,errors='coerce')
kick.usd_pledged = pd.to_numeric(kick.usd_pledged,errors='coerce')
kick.goal = pd.to_numeric(kick.goal,errors='coerce')

In [74]:
kick.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319328 entries, 0 to 323749
Data columns (total 19 columns):
category              319328 non-null object
main_category         319328 non-null object
currency              319328 non-null object
deadline              319328 non-null datetime64[ns]
goal                  319328 non-null float64
launched              319328 non-null datetime64[ns]
pledged               319328 non-null float64
state                 319328 non-null object
backers               319328 non-null int64
country               319328 non-null object
usd_pledged           319328 non-null float64
launched              319328 non-null datetime64[ns]
deadline              319328 non-null datetime64[ns]
duration              319328 non-null timedelta64[ns]
launch_month          319328 non-null float64
launch_dayofweek      319328 non-null float64
deadline_dayofweek    319328 non-null float64
launched_date         319328 non-null object
deadline_date         319328 non-null object
dtypes: datetime64[ns](4), float64(6), int64(1), object(7), timedelta64[ns](1)
memory usage: 58.7+ MB

In [71]:
from sklearn.feature_selection import RFE, SelectFromModel, SelectPercentile
from sklearn.ensemble import RandomForestClassifier

In [101]:
ks = pd.get_dummies(kick[['main_category','currency','country']],drop_first=True)
ks_int = kick.select_dtypes(include=['float64','int64'])
ks = pd.concat([ks,ks_int],axis=1)

In [102]:
ks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319328 entries, 0 to 323749
Data columns (total 54 columns):
main_category_Comics          319328 non-null uint8
main_category_Crafts          319328 non-null uint8
main_category_Dance           319328 non-null uint8
main_category_Design          319328 non-null uint8
main_category_Fashion         319328 non-null uint8
main_category_Film & Video    319328 non-null uint8
main_category_Food            319328 non-null uint8
main_category_Games           319328 non-null uint8
main_category_Journalism      319328 non-null uint8
main_category_Music           319328 non-null uint8
main_category_Photography     319328 non-null uint8
main_category_Publishing      319328 non-null uint8
main_category_Technology      319328 non-null uint8
main_category_Theater         319328 non-null uint8
currency_CAD                  319328 non-null uint8
currency_CHF                  319328 non-null uint8
currency_DKK                  319328 non-null uint8
currency_EUR                  319328 non-null uint8
currency_GBP                  319328 non-null uint8
currency_HKD                  319328 non-null uint8
currency_MXN                  319328 non-null uint8
currency_NOK                  319328 non-null uint8
currency_NZD                  319328 non-null uint8
currency_SEK                  319328 non-null uint8
currency_SGD                  319328 non-null uint8
currency_USD                  319328 non-null uint8
country_AU                    319328 non-null uint8
country_BE                    319328 non-null uint8
country_CA                    319328 non-null uint8
country_CH                    319328 non-null uint8
country_DE                    319328 non-null uint8
country_DK                    319328 non-null uint8
country_ES                    319328 non-null uint8
country_FR                    319328 non-null uint8
country_GB                    319328 non-null uint8
country_HK                    319328 non-null uint8
country_IE                    319328 non-null uint8
country_IT                    319328 non-null uint8
country_LU                    319328 non-null uint8
country_MX                    319328 non-null uint8
country_NL                    319328 non-null uint8
country_NO                    319328 non-null uint8
country_NZ                    319328 non-null uint8
country_SE                    319328 non-null uint8
country_SG                    319328 non-null uint8
country_US                    319328 non-null uint8
goal                          319328 non-null float64
pledged                       319328 non-null float64
backers                       319328 non-null int64
usd_pledged                   319328 non-null float64
launch_month                  319328 non-null float64
launch_dayofweek              319328 non-null float64
deadline_dayofweek            319328 non-null float64
target                        319328 non-null int64
dtypes: float64(6), int64(2), uint8(46)
memory usage: 45.9 MB

In [106]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [86]:
kick['target'] = kick.state.apply(lambda state: 1 if state == 'successful' else 0)

In [82]:
pipe = make_pipeline(StandardScaler(),SelectPercentile(percentile=50),RandomForestClassifier())

In [103]:
X = ks
y = kick.target

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [105]:
pipe.fit(X_train,y_train)

Pipeline(memory=None,
     steps=[('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('selectpercentile', SelectPercentile(percentile=50,
         score_func=<function f_classif at 0x112275d90>)), ('randomforestclassifier', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
...n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))])

In [107]:
pred = pipe.predict(X_test)

print(classification_report(y_test,pred))

             precision    recall  f1-score   support

          0       1.00      0.99      0.99     51943
          1       0.98      0.99      0.99     27889

avg / total       0.99      0.99      0.99     79832

In [110]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV